form input[type="submit"] {
  background-color: #228B22;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
header {
  background-color: #0ad5f0;
  color: #131212;
  padding: 15px;
  text-align: center;
}